@font-face{
	font-family: westgate;
	src: url(../Polices/The_West_Gate.ttf);
}
@font-face{
	font-family: ananda;
	src: url(../Polices/Ananda_Personal_Use.ttf);
}
@font-face{
	font-family: champ;
	src: url(../Polices/champ.ttf);
}
@font-face{
	font-family: pixel;
	src: url(../Polices/04B_30__.TTF);
}

#body{
	width: 100%;
	margin: 0;
	padding: 0;
}

/*Partout*/

	a:hover{
		cursor: pointer;
	}


/*En-tete*/
	
	header{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		height: 80px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 10px;
		align-items: flex-start;
		padding: 0;
		overflow: visible;
	}

	#logo{
		float: left;
		width: 15%;
		height: 80px;
		padding: 0;
		background-color: #757575;
		border-radius: 15px 0 0 15px ;
	}
	#logo figure{
		max-height: 80px;
		margin: 0;
		padding: 0;
	}
	#logo figcaption{
		font-family: sans-serif;
		font-size: 10px;
		color:#C1C1C1;
		text-align: center;
		margin-top: -20px;
		font-style: italic;
	}
	#princ{
		width: 85%;
		align-self: flex-end;
		height: 80px;
		text-align: center;
		list-style: none;
		margin: auto;
		background-color: #757575;
		border-radius: 0 5px 5px 0;
		overflow: visible;
	}
	
	#princ ul{
		height: 80px;
		padding:0;
		margin: 0 5px;
		overflow: visible;
		display: flex;
	}
	
	#princ li{
		width: 100px;
		display: inline-block;
		position: relative;
		max-height: 80px;
		padding: 0 5px;
		margin: 0;
		padding-top: 5px;
	}
	
	#princ a{
		color: white;
		text-decoration: none;
		display: block;
		height: 80px;
		width: 100%;
		font-family: champ;
		font-size: 30px;
		vertical-align: middle;
		padding-top: 15px;
	}
	#princ a:hover{
		color: #00BD50;
	}
	#princ li:hover{
		background-color: white;
		border-top: 5px solid red;	
		padding-top: 0;
	}

	#encours{
		background-color: white;	
	}
	
	#encours a{
		color: #00BD50;
	}

/*Menu interne*/
#intern{
	float: left;
	width: 200px;
	height: auto;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	background: none;
	position: fixed;
}
#intern ul{
	height: 100%;
	width: 100%;
	list-style: none;
	border-radius: 5px;
	border: 2px dotted #CEEEFD;
	padding-bottom: 10px;
	padding-left: 0;
}
#intern li:hover{
	border: 0;
}

#intern li{
	text-align: center;
}
#intern #menu{
	list-style: none;
	border-bottom: 2px dotted #CEEEFD;
	text-align: center;
	font-family: ananda;
	font-size: 25px;
	margin: 5px 0;
	width: 100%;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

#intern #exn1, #exn3, #exn4, #exn5, #exn6, #exn7{
	background-repeat: no-repeat;
	text-indent: 30px;
	height: 32px;
	font-family: champ;
	font-size: 22px;
	margin: 5px 0;
	border: 0;
	width: 100%;
}
#intern #exn1{
	background-image: url(images/ex1.png);
	padding-top: 10px;
	background-position: 20px 10px;
}
#intern #exn3{
	background-image: url(images/ex3.png);
	background-position: 20px;
}
#intern #exn4{
	background-image: url(images/ex4.png);
	background-position: 20px;
}
#intern #exn5{
	background-image: url(images/ex5.png);
	background-position: 20px;
}
#intern #exn6{
	background-image: url(images/ex6.png);
	background-position: 20px;
}
#intern #exn7{
	background-image: url(images/ex7.png);
	background-position: 20px;
}
#intern a{
	all: initial;
	font-family: champ;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
}
#intern a:hover{
	color: #CEEEFD;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*Contenu*/
#contenu{
	height: auto;
	margin-left: 230px;
	margin-right: 20px;
	margin-bottom: 10px;
}
h1{
	font-family: champ;
	font-size: 50px;
   text-align: center;
   margin: 0;
   padding: 0;
}
h2{
	font-family: champ;
	font-size: 35px;
	margin: 5px;
	padding: 5px 20px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
p{
	text-indent: 20px;
	font-family: champ;
	font-size: 20px;
}

section{
	height: 50%;
	border-radius: 5px;	
	margin: 10px 0;
	padding: 10px 15px;
}
#titre{
	border: 1px solid black;
}
#ex1, #ex3, #ex4, #ex5, #ex6, #ex7{
	padding: 5px;
}
table{
	margin: auto;
}
td{
	text-align: center;
}
label, input[type=submit]{
	font-family: champ;
	font-size: 20px;
}
/*Exercice 1*/
#ex1{
	background-color: #f5d6eb;
}


/*Exercice 3*/
#ex3{
	background-color: #ecc6d9;
}

.error{
	text-align: center;
	font-family: champ;
	font-size: 20px;
	margin: 10px;
}

/*Exercice 4*/
#ex4{
	background-color: #ffb3d9;
}
#ex4 form{
	text-align: center;
}
#ex4 select{
	height: 100%;
}

.quotient{
	margin: 20px auto;
}
.quotient tr{
	padding: 0;
}
.quotient td{
	font-family: champ;
	font-size: 17px;
	text-align: center;
	padding: 5px 5px;
	font-weight: normal;
	border: 1px solid black;
	margin: 0;
}
.quotient th{
	font-weight: bolder;
	padding-left: 5px;
	padding-right: 5px;
	font-family: champ;
	font-size: 17px;
	text-align: center;
	border: 1px solid black;
	padding: 5px 5px;
}

/*Exercice 5*/
#ex5{
	background-color: #ffccdd;
}

#chmodtable, #formtable{
	border-collapse: collapse;
}

#chmodtable .bordered, #formtable td{
	padding: 10px;
	border: 1px dotted black;
}

#result, #formtable #button{
	padding: 20px;
}


/*Exercice 6*/
#ex6{
	background-color: #ffcce6;
}

#ex6 .month{
	font-size: 30px;
	background-color: white;
	color: black;
}

#ex6 #month{
	border: 1px dotted black ;
	margin: auto;
	padding: 5px;
	max-width: 100%;
	overflow: hidden;
}
#month td, #month th{
	font-family: champ;
	border: 1px solid black;
	padding: 5px;
	font-size: 18px;
	text-align: center;
	color: black;
	background-color: white;
}

#month th{
	background-color: #8c8c8c;
	color: white;
}

#month .empty{
	background-color: #f2f2f2;
}

#month .jourJ{
		border: 2px solid #990000;
		background-color: #cc0000;
		color: white;
}

#ex6 .weekend{
	color: #cc0000;
}

#calendar{
	table-layout: fixed;
	border: 1px dotted black ;
	margin: auto;
	padding: 5px;
	width: 100%;
}

#calendar tr{
	width: 100%;
	vertical-align: top;
}

#calendar td table{
	width: 100%;
	table-layout: fixed;
}

#calendar td table th{
	font-family: champ;
	font-size: 100%;
	padding: 0.75% 0.75%;
	overflow: hidden;
	color: white;
	background-color: #8c8c8c;
}

#calendar td table #month{
	font-size: 1.5vw;
	padding: 0.07% 0.75%;
	color: black;
	background-color: white;
}

#calendar td table td{
	font-family: champ;
	border: 1px solid black;
	width: 100%;
	padding: 2.75% 0.75%;
	font-size: 100%;
	text-align: center;
	color: black;
	background-color: white;
}
#calendar td table .month{
	color: black;
	background-color: white;
	font-size: 200%;
}

#calendar table .empty{
	background-color: #f2f2f2;
}

#calendar table .jourJ{
		border: 2px solid #990000;
		background-color: #cc0000;
		color: white;
}

#calendar table .weekend{
	color: #cc0000;
}
/*Exercice 7*/
#ex7{
	background-color: #f2d9e6;
}

#ex7 p{
	text-align: center;
	margin: 10px;
}

#ex7 td{
	font-family: champ;
	font-size: 20px;
}

/*Footer*/
	footer{
			margin-left: 20px;
			margin-right: 20px;
			margin-top: 10px;
			text-align: right;
			}
	footer p{
		text-align: right;
	}
	footer a{
		background-color: #74C1AE; 
		border-radius: 5px; 
		font-family: champ; 
		padding: 3px 3px; 
		color: black;
		text-decoration: none;
	}
	
	.small{
		font-size: 13px;
	}